name: Cache Test

on:
  push:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-dd0ff5f

      - name: prime-cache-dd0ff5f
        run: |
          echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"
